<div class="cart__container">
    <h2 class="cart__title">Tu cesta</h2>
  
    <button (click)="clearCart()" class="cart__clear-button">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <path d="M3 6h18v2H3V6zm2 3h14v13c0 1.1-.9 2-2 2H7c-1.1 0-2-.9-2-2V9zm6 2v9h2v-9h-2zm4 0v9h2v-9h-2zM8 9v9h2V9H8zm4-7c1.1 0 2 .9 2 2h-4c0-1.1.9-2 2-2z"/>
      </svg>
      Vaciar cesta
    </button>
  
    <table class="cart__table table">
      <thead class="table-head">
        <tr>
          <th class="table-cell">Producto</th>
          <th class="table-cell">Precio</th>
          <th class="table-cell">Cantidad</th>
          <th class="table-cell">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" class="table-row">
          <td class="table-cell">{{ product.name }}</td>
          <td class="table-cell">{{ product.price | currency:'EUR' }}</td>
          <td class="table-cell">{{ product.quantity }}</td>
          <td class="table-cell">{{ (product.price * product.quantity) | currency:'EUR' }}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="cart__total-container">
      <h3 class="cart__total-text">Total: {{ getTotalPrice() | currency:'EUR' }}</h3>
    </div>
  </div>
  